@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
.App,
.app-cover {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  height: 40px;
  background-color: #ddd;
}

.App.dark {
  background-color: #444;
}

.app-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}
