@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

html,
#root,
.App,
.app-cover {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  height: 40px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

.App.dark {
  background-color: #444;
}

.app-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-app {
  header {
    border-bottom: 1px solid #ddd;
    height: 69px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    justify-content: flex-end;
    align-items: center;
  }
  .admin-app-body {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100vh;
    nav {
      border-right: 1px solid #ddd;
      ul {
        margin-top: 40px;
        li {
          padding: 15px;
        }
      }
    }
    main {
      .main-content {
        padding: 60px 20px;
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }
}

ul.quiz-list {
  width: 100%;
  li {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 20px 600px 1fr;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 0.5;
    margin-bottom: 10px;
  }
}
